/* Referencias */
.fn-backref {color: #191919}

/*table.apunte {
  td:first-child { text-align: right}
  td:last-child { text-align: right }
}*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}
/*p, div {
    font-family: 'Oxygen';
}*/
